.detail-image {
    padding: 10px;
    &__main {
        width: 100%;
        height: 400px;
        
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__thumbnails {
        list-style: none;
        display: flex;

        margin: 0;
        padding: 5px;

        background-color: var(--gray-color);
    }

    &__item {
        width: 80px;
        height: 80px;

        background-size: cover;
        background-position: center;

        border: 1px solid #ccc;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 5px;

        &:last-child {
            margin: 0;
        }

        &.active {
            border-color: var(--primary-color);
            cursor: default;
        }
    }
}