@import '../../assets/responsive/index.scss';
.header {
    background-color: var(--black-color);
    padding: 15px 0;

    @include lessDesktop {
        position: relative;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__action {
        display: flex;
        align-items: center;

        &__item {
            position: relative;
            display: block;

            color: var(--white-color);
            background-color: transparent;

            font-size: 1.3rem;

            outline: none;
            border: none;
            cursor: pointer;

            transition: all linear .25s;

            @include lessDesktop {
                position: unset;
            }

            &:hover {
                color: var(--primary-color);
                border-radius: 2px;
            }
        }
    }

    &__logo {
        color: var(--gray-color);

        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        text-decoration: none;
        
        transition: all linear 0.25s;

        &:hover {
            color: var(--primary-color);
        }
    }
    #showSearchMobile:checked ~ &__search {
        display: flex;
    }
    &__search {
        width: 100%;
        height: 35px;

        padding: 10px;
        margin: 0 1rem;

        background-color: var(--white-color);

        display: flex;
        align-items: center;

        border-radius: 2px;
        outline: none;

        animation: showSearch linear 0.25s;

        @include mobile {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            height: 40px;

            width: unset;
            overflow: hidden;

            display: none;
        }

        &__input {
            flex: 1;

            background-color: transparent;

            font-size: 0.8rem;

            border: none;
            outline: none;

            height: 100%;
        }

        &__btn {
            background-color: transparent;
            color: var(--black-color);

            border: none;
            outline: none;
            
            
            font-size: 1.3rem;
            line-height: 100%;

            transition: all 0.25s linear;

            &:hover {
                color: var(--primary-color);
                background: var(--gray-color);
                
                border-radius: 2px;
            }

            &--mobile {
                color: #fff;
            }
        }
    }

    &__cart {
        position: relative;

        margin: 0 10px 0;

        @include mobile {
            margin: 0 10px;
        }
        
        &__number {
            width: 20px;
            height: 20px;

            font-size: 1rem;
            text-align: center;
            line-height: 20px;
            
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(40%);

            background-color: var(--white-color);
            color: var(--black-color);

            border-radius: 50%;
        }
    }
}

@keyframes showSearch {
    from {
    transform: translateY(-20%);
    }
    to {
        transform: translateY(0%);
    }
}