@import '../../assets/responsive/index.scss';
.banner {
    height: 240px;
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        color: var(--white-color);

        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: center;
        @include mobile {
            font-size: 1.5rem;
        }
    }
}